body {
	background: #141414;
	color: #ffffff;
}

/* MovieList Component */
.movie-list-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start; /* Align movies to the left */
	margin: -10px; /* Negative margin to remove space between movies */
  }
  
  .image-container {
	width: 200px;
	height: 300px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s ease;
	margin: 10px; /* Margin between movies */
	flex: 0 0 auto; /* Prevent flex items from growing */
  }
  
  .image-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
  }
  
  .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 0;
	transition: opacity 0.3s ease;
	cursor: pointer;
	border-radius: 5px;
  }
  
  .overlay svg {
	width: 30px;
	height: 30px;
	fill: #fff;
  }
  
  .image-container:hover .overlay {
	opacity: 1;
  }
  .movie-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: -5px;
}

.image-container {
  position: relative;
  margin: 5px;
}

img {
  width: 200px; /* Adjust the width of the movie poster */
  height: auto; /* Maintain aspect ratio */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(78, 78, 78, 0.5);
  opacity: 0;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}